body {
    margin: 50px 0 0 10px;
    background-color: eeeeee;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.hr-line {
    border: none;
    border-top: solid black thin;
    max-width: 90%;
    margin: 0;
}

.td-padding {
    padding-left: 60px;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-top: 30px;
}

.fixed-container-nav {
    position: fixed;
    left: 90%;
    height: auto;
    width: 8.5%;
    top: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: 222831;
    font-size: 15px;
    border-radius: 5px;
}

.fixed-container-nav a {
    display: block;
    text-align: center;
    padding: auto;
    color: eeeeee;
}

.fixed-container-nav li {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 15px;
}

.fixed-container-nav ul {
    list-style: none;
    padding: 0;
}

.profil {
    position: fixed;
    top: 30px;
    bottom: 30px;
    width: 20%;
    height: auto;
    display: block;
    margin-left: 2%;
    background-color: 222831;
    color: #eeeeee;
    border-radius: 10px;
    text-align: center;
}

.profil a {
    color: #eeeeee;
}

.profil p {
    font-size: 14px;
}

.content {
    width: 80%;
    height: auto;
    margin-left: 2%;
    border-radius: 10px;
}

.content td {
    font-size: 15px;
}

.main-section-placement {
    margin-left: 0;
    margin-top: 20px;
    margin-right: 200px;
    width: 90%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

.main-section-placement,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.main-section-placement,
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.remove-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar-spacing {
    padding: 20px;
}

.vertical-line {
    border-right: solid thin black;
}

.checked {
    color: 00adb5;
}

.half {
    width: 30%;
    display: inline-block;
    padding-left: auto;
}

#profile-picture {
    width: 50%;
    height: auto;
    border-radius: 50%;
    padding-top: 20px;
}

#display-mail {
    display: inline-block;
}

.spacing {
    line-height: 120%;
    width: 75%;
    height: auto;
    margin: auto;
}

#main-placement {
    margin-left: 20%;
    padding-bottom: 100px;
}